/* font styles */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
}
/* common styles */
.bg-color {
  background-color: rgba(245, 245, 245, 1);
}
.primary-btn {
  background-color: rgba(0, 106, 80, 1);
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.primary-btn:hover {
  background-color: rgba(84, 144, 245, 1);
}
.bg-color2 {
  background-color: rgba(198, 228, 214, 1);
}
/* body styles */
body {
  max-width: 1600px;
}
/* nav styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 160px;
  margin-bottom: 20px;
}
.nav-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  color: rgba(14, 14, 14, 1);
}
.nav-signin {
  padding: 15px 30px;
  border: 1px solid rgba(0, 106, 80, 1);
  border-radius: 8px;
  color: rgba(0, 106, 80, 1);
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}
.nav-signin:hover {
  background-color: yellowgreen;
}
/* banner-section styles */
.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  padding: 80px 100px;
  margin: 0px 160px 80px 160px;
}
.banner-section-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: 0%;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 16px;
}
.banner-subtitle {
  font-size: 48px;
  font-weight: 700;
  line-height: 67.2px;
  letter-spacing: 0%;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 24px;
}
/* vision-of-future section styles */
.vision-of-future {
  margin: 0px 160px 80px 160px;
}
.vision-of-future-title {
  font-size: 40px;
  font-weight: 700;
  color: rgba(14, 14, 14, 1);
  line-height: 48px;
  letter-spacing: 0%;
  margin-bottom: 24px;
}
.vision-of-future-description {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}
.vision-of-future-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 24px;
}
.vision-of-future-card1 {
  background-color: rgba(84, 144, 245, 0.2);
  border: 1px solid rgba(84, 144, 245, 1);
  border-radius: 16px;
  max-width: 410.67px;
  height: 325px;
  padding: 32px;
}
.vision-of-future-card2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 32px;
  max-width: 410.67px;
  height: 325px;
  border: 1px solid rgba(9, 161, 92, 1);
  border-radius: 16px;
}
.vision-of-future-card3 {
  background-color: rgba(247, 235, 207, 1);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 32px;
  max-width: 410.67px;
  height: 325px;
  border: 1px solid rgba(255, 194, 57, 1);
  border-radius: 16px;
}
.vision-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.vision-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 52px;
}
.learn-more1 {
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  line-height: 19.2px;
  background-color: rgba(84, 144, 245, 1);
  cursor: pointer;
}
.learn-more2 {
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  line-height: 19.2px;
  background-color: rgba(9, 161, 92, 1);
  cursor: pointer;
}
.learn-more3 {
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  line-height: 19.2px;
  background-color: rgba(255, 194, 57, 1);
  cursor: pointer;
}
.learn-more1:hover {
  background-color: white;
}
.learn-more2:hover {
  background-color: white;
}
.learn-more3:hover {
  background-color: white;
}
/* challenge-section styles */
.quote-bg-container {
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: top left;
  background-size: 64px 64px;
}
.quote {
  margin: 20px auto;
  position: relative;
  background-color: white;
  border-radius: 16px;
  padding: 48px 24px;
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 64px 64px;
}
.quote-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 12px;
}
.quoter {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 4px;
}
.quoter-designation {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.6);
}
/* recent-news section styles */
.recent-news {
  border-radius: 24px;
  margin-top: 0px;
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: 24px;
}
.recent-news-title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 24px;
}
.recent-news-head {
  margin-right: 89px;
}
.recent-news-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
}
.news-container {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 48px;
  color: rgba(14, 14, 14, 1);
  border-radius: 24px;
}
.satelite {
  border-radius: 24px;
}
.satelite-news-title {
  font-size: 32px;
  font-weight: 38.4px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 12px;
}
.date-time {
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 12px;
}
.satelite-news-description {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}
.aljazeera {
  margin-bottom: 12px;
}
.read-more {
  padding: 13px 26px;
  border-radius: 8px;
  border: none;
  background-color: rgba(0, 106, 80, 1);
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.read-more:hover {
  background-color: rgba(84, 144, 245, 1);
}
.recent-news2 {
  border-radius: 24px;
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: 80px;
}
/* donation section styles */
.donate-section {
  padding-left: 160px;
  padding-right: 160px;
}
.donation-title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 24px;
}
.donation-para {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}
.ammount {
  display: flex;
  gap: 24px;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 32px;
}
.taka {
  padding: 40px;
  color: rgba(14, 14, 14, 0.8);
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  font-size: 40px;
  font-weight: 700px;
  line-height: 48px;
  cursor: pointer;
}
.taka2 {
  background-color: rgba(198, 228, 214, 1);
  padding: 40px;
  color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  font-size: 40px;
  font-weight: 700px;
  line-height: 48px;
  cursor: pointer;
}
.taka:hover {
  background-color: rgba(198, 228, 214, 1);
}
.taka2:hover {
  background-color: blueviolet;
}
.other-ammount {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type="text"] {
  width: 1032px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding: 20px 40px;
  text-align: center;
  margin-bottom: 32px;
  border: none;
}
input[type="submit"] {
  margin-bottom: 180px;
}
